node_modules/
public/bower_components/
*.swp
*.swx
.DS_Store
config/backend.json
config/frontend.js
config/project.properties
backend-logs/
/public/shared-build/
/public/web-build/
/public/app-build/
/dist/
