# Dependencies.
node_modules/
public/bower_components/

# Vim files.
*.swp
*.swx

# Config-dependant files.
config_backend.json
config_frontend.js
development.properties

# Compiled packages.
public/shared-build/
public/web-build/
public/app-build/
dist/
