angular.module('eat-this-one').constant('eatConfig', {
    version : '1',
    backendUrl : 'http://localhost:3000/api',
    downloadAppUrl : 'http://eat-this-one.com',
    defaultLang : 'en',
    gcmSenderId : 'YOURSENDERID',
});
