{
    "EAT_DB_URI": "mongodb://localhost:27017/eat-this-one",
    "APP_PORT": "3000",
    "SALT": "WHATEVER_STRING_BUT_CHANGE_IT",
    "GCM_SEND_URL": "https://android.googleapis.com/gcm/send",
    "GCM_API_KEY": "YOURAPIEY",
    "DOWNLOAD_URL_ANDROID" : "https://www.eat-this-one.com/android.apk"
}
