angular.module('eat-this-one').constant('eatConfig', {
    version : '1',
    backendUrl : 'https://eat-this-one.com/api',
    downloadAppUrl : 'http://eat-this-one.com',
    defaultLang : 'en',
    gcmSenderId : 'YOURSENDERID',
});
