{
    "EAT_DB_URI": "mongodb://localhost:27017/eat-this-one",
    "APP_PORT": "3000",
    "PWD_SALT": "asd",
    "GCM_SEND_URL": "https://android.googleapis.com/gcm/send",
    "GCM_API_KEY": "YOURAPIEY",
    "G_OAUTH_CLIENT_ID" : "YOUROAUTHCLIENTID",
    "G_OAUTH_CLIENT_SECRET" : "YOUROAUTHCLIENTSECRET",
    "DOWNLOAD_URL_ANDROID" : "http://www.example.com"
}
