angular.module('eat-this-one').constant('eatConfig', {
    version : '1',
    backendUrl : 'http://eat-this-one.herokuapp.com/api',
    downloadAppUrl : 'http://eat-this-one.herokuapp.com/android.apk',
    defaultLang : 'en',
    gcmSenderId : 'YOURSENDERID',
});
