//- Javascript
script(src='client.min.js', type='text/javascript', charset='utf-8')
script(src='cordova.js', type='text/javascript', charset='utf-8')
script(src='cordova_plugins.js', type='text/javascript', charset='utf-8')

//- Styles
link(rel='stylesheet', href='styles.css')

//- Metas.
meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
