// Javascript
script(src='client.js', type='text/javascript', charset='utf-8')
script(src='cordova.js', type='text/javascript', charset='utf-8')
script(src='PushNotification.js', type='text/javascript', charset='utf-8')
script(src='local-notification.js', type='text/javascript', charset='utf-8')

// Styles
link(rel='stylesheet', href='styles.css')

// Metas.
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
