extends layout

block content
    div(ng-controller='IndexController', class='container')

        include top

        div(ng-if='!auth.isAuthenticated()')
            blockquote
                p
                    {{lang.infowelcome}}

            div(id='id-authenticate', ng-if='!auth.isAuthenticated()')
                button(ng-click='authorizeGoogle()', class='btn btn-primary')
                    span(class='glyphicon glyphicon-log-in button-icon', aria-hidden='true')
                    {{lang.signingoogle}}

        div(ng-if='auth.isAuthenticated()')
            div(class='centered-container')
                button(name='add', ng-click='addDish()', class='btn btn-success')
                    span(class='glyphicon glyphicon-share button-icon', aria-hidden='true')
                    {{lang.adddish}}
                button(name='meals', ng-click='indexMeals()', class='btn btn-warning')
                    span(class='glyphicon glyphicon-cutlery button-icon', aria-hidden='true')
                    {{lang.mealsibooked}}

            div(class='container dishes-list')
                div(ng-show='showNoDishes')
                    p {{lang.nodishes}}
                table(ng-show='!showNoDishes', class='table table-hover')
                    caption {{lang.dishesnextdays}}
                    thead
                        tr
                            th {{lang.dishname}}
                            th {{lang.dishdescription}}
                            th {{lang.when}}
                    tbody
                        tr(ng-repeat='dish in dishes', class='dish', ng-click='dishClicked(dish._id)')
                            td
                                a(href='dishes/view.html?id={{dish._id}}') {{dish.name}}
                            td
                                a(href='dishes/view.html?id={{dish._id}}') {{dish.description}}
                            td
                                a(href='dishes/view.html?id={{dish._id}}') {{dish.when}}

    include footer
