extends layout

block content
    div(ng-controller='IndexController', class='container')

        include top

        div(ng-if='!auth.isAuthenticated()')
            blockquote
                p
                    {{lang.infowelcome}}
            eat-login-buttons(auth='auth', lang='loginButtonsLangStrings')

        div(ng-if='auth.isAuthenticated()')
            blockquote
                p
                    {{lang.infoindex}}

            form(role='form')
                eat-input-text(element='where')

                eat-datetime(element='when')
                button(type='button', name='search', ng-click='searchDish()', class='btn btn-primary') {{lang.searchdish}}
                button(type='button', name='add', ng-click='addDish()', class='btn btn-primary') {{lang.adddish}}
                button(type='button', name='subscribeLocation', ng-click='subscribeLocation()', class='btn btn-primary') {{lang.subscribelocation}}

include footer
