extends ./layout

block configuration
    - var controllerName = "IndexController"
block logic

    //- Its position is fixed so it does not really matter where we add it.
    md-button(class='add-dish-button', ng-click='addDish()', ng-if='showToggleMenu', aria-label='lang.adddish', class='md-primary md-fab no-box-shadow')
        span(class='glyphicon glyphicon-plus', aria-hidden='true')

    div(ng-if='!auth.isAuthenticated()')
        div(id='id-authenticate', ng-if='!auth.isAuthenticated()')
            form(role='form')
                eat-input-text(element='name')
                eat-input-text(element='email')
                md-button(ng-click='signup()', class='md-primary')
                    span(class='glyphicon glyphicon-user button-icon', aria-hidden='true')
                    {{lang.signin}}

    div(ng-if='auth.isAuthenticated()')
        div(class='container dishes-list')
            div(ng-show='showNoDishes')
                p {{lang.nodishes}}
            md-list(ng-show='!showNoDishes')
                md-item(ng-repeat='dish in dishes', ng-click='dishClicked(dish._id)', role='listitem')
                    md-card
                        md-card-content
                            md-item-content(ng-click='redirectToDish(dish._id)')
                                div
                                    img(ng-src='images/default.svg', class='face', src='images/default.svg')
                                div(class='md-tile-content')
                                    h3 {{dish.name}} - {{dish.when}}
                                    h4 {{dish.description}}
