extends ./layout

block configuration
    - var controllerName = "IndexController"
block logic

    //- Its position is fixed so it does not really matter where we add it.
    md-button(id='id-add-dish', class='add-dish-button', ng-click='addDish()', ng-if='showToggleMenu', aria-label='lang.adddish', class='md-primary md-fab no-box-shadow')
        span(class='glyphicon glyphicon-plus', aria-hidden='true')

    div(ng-if='display === "splash"', class='md-content')
        img(class='splash-icon', ng-click='toLogin()', src='images/icon.png')

    div(ng-if='display === "login"')
        div(id='id-authenticate')
            form(role='form' id='id-page-form')
                eat-input-text(element='name')
                eat-input-text(element='email')
                md-button(id='id-signup', ng-click='signup()', class='md-primary')
                    span(class='glyphicon glyphicon-user button-icon', aria-hidden='true')
                    | {{lang.signup}}

    div(ng-if='display === "dishes"')
        div(class='dishes-list')
            div(ng-show='showNoDishes')
                p {{lang.nodishes}}
            md-list-item(ng-show='!showNoDishes', ng-repeat='dish in dishes', ng-click='redirectToDish(dish._id)', role='listitem')
                img(ng-src='{{dish.imgSrc}}', class='md-avatar')
                p {{dish.name}} - {{dish.when}}
                div(ng-if='dish.icon', class='md-icon-button')
                    span(class='{{dish.icon}}')
