extends layout

block content
    div(ng-controller='indexController', class='container')

        include top

        form(role='form')
            eat-field(element='where')
                input(type='text', name='{{where.name}}', id='id-{{where.name}}', placeholder='{{where.placeholder}}', class='form-control', ng-model='where.value')
            eat-field(element='when')
                input(type='text', name='{{when.name}}', id='id-{{when.name}}', placeholder='{{when.placeholder}}', class='form-control', ng-model='when.value')
            button(type='button', name='search', ng-click='searchDish()', class='btn btn-primary') {{lang.searchdish}}
            button(type='button', name='add', ng-click='addDish()', class='btn btn-primary') {{lang.adddish}}

include footer
