doctype html
html
    head

        // Javascript
        script(src='/client.js')

        // Styles
        link(rel='stylesheet', href='/styles.css')

        // TODO include cordova only when apps.

        // Metas.
        meta(name='viewport', content='width=device-width, initial-scale=1')

    body(ng-app='eat-it')
        block content
