extends ../layout

block configuration
    - var controllerName = "UsersEditController"

block base
    base(href='../')

block logic
    form(role='form' id='id-page-form')
        eat-input-text(element='name')
        eat-input-text(element='email')
