// This template requires the following $scope vars to be set.
// {{page.title}}
// This template optionally accepts the following vars.
// {{page.subtitle}}

h1= {{page.title}}
    if {{page.subtitle}}
        small= {{page.subtitle}}

