extends layout

block content
    div(ng-controller='indexController', class='container')
        input(type='text', name='where', id='id-where', class='form-control', placeholder='{{lang.where}}')
        input(type='text', name='when', id='id-when', class='form-control', placeholder='{{lang.when}}')
        button(type='button', name='search', ng-click='searchDish()') {{lang.searchdish}}
        button(type='button', name='add', ng-click='addDish()', class='btn btn-primary') {{lang.adddish}}

include footer
