doctype html5
html
    head

        // Javascript
        //script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/angular/angular.min.js')
        script(src='/bower_components/angular-bootstrap/ui-bootstrap.min.js')
        script(src='/build/client.js')

        // Styles
        link(rel='stylesheet', href='/build/styles.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')

        // TODO include cordova only when apps.

        // Metas.
        meta(name='viewport', content='width=device-width, initial-scale=1')

    body(ng-app)

        // TODO Only for web.
        div(id='id-mask')

        include heading

        // TODO Only for web.
        div(id='id-notification')

  body
    block content
