extends ../layout

block configuration
    - var controllerName = "LocationSubscriptionsEditController"

block base
    base(href='../')

block logic
    div(class='centered-container info-text') {{lang.joingroupinfo}}

    form(role='form')
        md-radio-group(ng-model='usedfield')
            md-radio-button(value='joingroup') {{lang.joingroup}}
            md-radio-button(value='newgroup') {{lang.newgroup}}
        eat-input-text(element='joingroup', ng-show='usedfield === "joingroup"')
        eat-input-text(element='newgroup', ng-show='usedfield === "newgroup"')

