extends ../layout

block configuration
    - var controllerName = "LocationSubscriptionsEditController"

block base
    base(href='../')

block logic
    div(class='info-text') {{lang.joingroupinfo}}

    form(role='form' id='id-page-form')
        md-radio-group(ng-model='usedfield')
            md-radio-button(value='joingroup', class='md-primary') {{lang.joingroup}}
            md-radio-button(value='newgroup', class='md-primary') {{lang.newgroup}}
        eat-input-text(element='joingroup', ng-show='usedfield === "joingroup"')
        eat-input-text(element='newgroup', ng-show='usedfield === "newgroup"')
        eat-select(element='country', ng-show='usedfield === "newgroup"')
