// This template requires dishes array to be set in $scope
//

extends ../component-layout

block content
    div(ng-controller='MealsController', class='container')

        include ../top

        div(ng-show='showNoMeals')
            p {{lang.nomeals}}
        table(ng-show='!showNoMeals', class='table')
            tr
                td {{lang.dishname}}
                td {{lang.dishdescription}}
                td {{lang.when}}
            tr(ng-repeat='dish in meals')
                td
                    a(href='meals/view.html?id={{dish._id}}') {{dish.name}}
                td {{dish.description}}
                td {{dish.when}}
include ../footer
