extends ../layout

block configuration
    - var controllerName = "MealsController"

block base
    base(href='../')

block logic
    div(ng-show='showNoMeals')
        p {{lang.nomeals}}
    md-list(ng-show='!showNoDishes', class='dishes-list')
        md-item(ng-repeat='dish in meals', ng-click='mealClicked(dish._id)', role='listitem')
            md-card
                md-card-content
                    md-item-content(ng-click='redirectToMeal(dish._id)')
                        div
                            a(href='meals/view.html?id={{dish._id}}')
                                img(ng-src='images/default.svg', class='face', src='images/default.svg')
                        div(class='md-tile-content')
                            h3
                                a(href='meals/view.html?id={{dish._id}}') {{dish.name}} - {{dish.when}}
                            h4
                                a(href='meals/view.html?id={{dish._id}}') {{dish.description}}
