// This template requires dishes array to be set in $scope
//

extends ../component-layout

block content
    div(ng-controller='MealsController', class='container')

        include ../top

        div(ng-show='showNoMeals')
            p {{lang.nomeals}}
        md-list(ng-show='!showNoDishes')
            md-item(ng-repeat='dish in meals', class='dish', ng-click='mealClicked(dish._id)', role='listitem')
                md-item-content
                    div(class='md-tile-left')
                        a(href='meals/view.html?id={{dish._id}}')
                            img(ng-src='images/default.svg', class='face', src='images/default.svg')
                    div(class='md-tile-content')
                        h3
                            a(href='meals/view.html?id={{dish._id}}') {{dish.name}} - {{dish.when}}
                        h4
                            a(href='meals/view.html?id={{dish._id}}') {{dish.description}}
                md-divider

    include ../footer
