// This template requires dishes array to be set in $scope
//

extends ../component-layout

block content
    div(ng-controller='MealsController', class='container')

        include ../top

        div(ng-show='showNoMeals')
            p {{lang.nomeals}}
        table(ng-show='!showNoMeals', class='table table-hover')
            thead
                tr
                    th {{lang.dishname}}
                    th {{lang.dishdescription}}
                    th {{lang.when}}
            tbody
                tr(ng-repeat='dish in meals', ng-click='mealClicked(dish._id)')
                    td
                        a(href='meals/view.html?id={{dish._id}}') {{dish.name}}
                    td
                        a(href='meals/view.html?id={{dish._id}}') {{dish.description}}
                    td
                        a(href='meals/view.html?id={{dish._id}}') {{dish.when}}
    include ../footer
