extends ../layout

block configuration
    - var controllerName = "MealsViewController"

block base
    base(href='../')

block logic
    div(ng-if='auth.isAuthenticated()', class='dish-info')
        div(class='dish-field')
            b {{lang.dishname}}
            {{dish.name}}
        div(class='dish-field')
            b {{lang.dishdescription}}
            {{dish.description}}
        div(ng-if='dish.photo', class='dish-field')
            img(class='dish-img', src='{{dish.photo}}')
        div(class='dish-field')
            b {{lang.when}}
            {{dish.when}}
        div(class='dish-field')
            b {{lang.expecteddonation}}
            {{dish.donation}}
