a,
.pointer {
    cursor: pointer;
}

html {
    height: 100%;
}

/*body {*/
    /*background-image: url(images/bgs/1.png);*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: center center;*/
    /*background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*min-height: 100%;*/
/*}*/

.button-icon {
    margin-right: 5px;
}

#id-notification {
    display: none;
}

#id-dish-info {
    margin-bottom: 20px;
}

#id-dish-info div {
    padding-top: 5px;
}

#id-planning-cooking-info {
    color: red;
}

.dish-field b {
    padding-right: 5px;
}

.dish-img {
    width: 75%;
    padding-bottom: 10px;
}

.small-photo {
    display: none;
    width: 50%;
}
