a {
    cursor: pointer;
}

html {
    height: 100%;
}

footer {
    height: 10px;
}

.mask {
    opacity: 0.5;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-content {
    font-size: 110%;
    padding: 80px 16px 16px 16px;
}

.button-icon {
    margin-right: 5px;
}

.button-group button {
    margin: 0 5px 0 5px;
}

.menu-item {
    min-width: 100%;
    padding: 12px 6px 12px 6px;
    text-align: left;
}

.big-icon {
    font-size: 160%;
    margin-right: 10px;
}

.info-text {
    text-align: center;
    margin: auto;
    margin: 20px 10px 20px 10px;
}

.contacts-list {
    margin: 10px 0 10px 0;
}

.dishes-list,
.users-list {
    margin-top: 20px;
}

.dishes-list md-item-content {
    cursor: pointer;
}

.dishes-list md-card-content,
.users-list md-card-content {
    padding: 0 16px 0 16px;
}

.dish-field {
    padding-top: 5px;
}

.dish-field b {
    padding-right: 5px;
}

.dish-useful-info {
    color: red;
    margin-top: 5px;
}

.button-group .photo-button {
    margin: 5px;
}

.add-dish-button {
    position: fixed;
    right: 16px;
    bottom: 16px;
}

.thumb-container {
    margin: 10px 0 10px 0;
    position: relative;
    width: 40px;
    height: 50px;
    overflow: hidden;
    border-radius: 30px;
}

.thumb-photo {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.badge {
    vertical-align: text-bottom;
}

.ranking {
    font-size: 140%;
}
