a {
    cursor: pointer;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

footer {
    height: 10px;
}

.mask {
    opacity: 0.5;
}

:focus {
    outline: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-content {
    font-size: 110%;
    padding: 80px 16px 16px 16px;
}

.button-icon {
    margin-right: 5px;
}

.button-group button {
    margin: 0 5px 0 5px;
}

.menu-item:not(.md-fab) {
    min-width: 100%;
    padding: 12px 6px 12px 6px;
    text-align: left;
}

.big-icon {
    font-size: 160%;
    margin-right: 10px;
}

.info-text {
    text-align: center;
    margin: auto;
    margin: 20px 10px 20px 10px;
}

.dishes-list,
.users-list {
    margin-top: 20px;
}

.dishes-list md-item-content {
    cursor: pointer;
}

.dishes-list md-card-content,
.users-list md-card-content {
    padding: 0 16px 0 16px;
}

.dish-field {
    padding-top: 5px;
}

.dish-field b {
    padding-right: 5px;
}

.dish-useful-info {
    color: red;
    text-align: center;
}

.button-group .photo-button {
    margin: 5px;
}

.add-dish-button {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.dish-thumb-container {
    margin: 10px 0 10px 0;
    position: relative;
    width: 40px;
    height: 50px;
    overflow: hidden;
    border-radius: 30px;
}

.user-thumb-container {
    display: inline-block;
    margin-left: 3px;
    margin-right: 10px;
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 30px;
    vertical-align: top;
}

.thumb-photo {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    text-align: center;
    transform: translate(-50%,-50%);
}

.participants {
    font-size: 140%;
    margin-left: 10px;
    margin-right: 10px;
    top: 4px;
}

.group-user {
    margin-top: 15px;
    margin-bottom: 15px;
}

.stars {
    margin-left: 10px;
    vertical-align: text-top;
}

.splash-text {
    width: 6em;
    font-size: 200%;
    font-weight: bold;
    display: block;
    margin: 20% auto 0 auto;
}

.splash-icon {
    position: absolute;
    bottom: 15%;
    left:50%;
    width: 30%;
    max-width: 200px;
    height: auto;
    margin: 0 0 0 -15%;
}

@media screen and (min-width: 500px) {
    .splash-icon {
        margin: 0 0 0 -100px;
    }
}

@keyframes animatedBackground {
    to {
        background-position: 100% 0;
        background-color: #ffffff;
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.splash-background {
    background: url('images/intro.jpg') no-repeat left center fixed;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 1);
    background-size: cover;
    animation: animatedBackground 8s ease-out 0.5s forwards;
}

.splash-background:before {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: inherit;
    content: ' ';
}
