// This template requires dish object to be set in $scope
//

extends ../component-layout

block content
    div(ng-controller='DishesEditController', class='container')

        include ../top

        form(role='form')
            eat-input-text(element='name')
            eat-input-text(element='description')
            eat-input-text(element='where')
            eat-datetime(element='from')
            eat-datetime(element='to')
            div(class='form-group')
                label(for='id-nportions') {{nportions.label}}
                select(name='nportions.name', id='id-nportions', ng-model='nportions.value', class='form-control')
                    option(ng-repeat='i in nportionsValues', value='{{i}}') {{i}}

            div(class='form-group')
                label(for='id-donation') {{donation.label}}
                select(name='donation.name', id='id-donation', ng-model='donation.value', class='form-control')
                    option(value='open') {{lang.open}}
                    option(value='nothing') {{lang.nothing}}
                    option(ng-repeat='i in donationValues', value='{{i}}') {{i | currency}}
        
            input(type='hidden', name='currency', id='id-currency',  value='aud', ng-model='dish.currency')

            div(ng-if='auth.isAuthenticated()')
                button(type='button', ng-click='save()', class='btn btn-primary') {{lang.savechanges}}
            eat-login-buttons


    include ../footer
