// This template requires dish object to be set in $scope
//

extends ../layout

block content
    div(ng-controller='dishesEditController', class='container')

        include ../top

        form(role='form')
            eat-field(element='name')
            eat-field(element='description')
            eat-field(element='user')
            eat-field(element='where')
            eat-datetime(element='from')
            eat-datetime(element='to')
            div(class='form-group')
                label(for='id-nportions') {{lang.nportions}}
                select(name='nportions', id='id-nportions', ng-model='dish.nportions', class='form-control')
                    option(ng-repeat='i in nportionsValues', value='{{i}}') {{i}}

            div(class='form-group')
                label(for='id-donation') {{lang.expecteddonation}}
                select(name='donation', id='id-donation', ng-model='dish.donation', class='form-control')
                    option(value='open') {{lang.open}}
                    option(value='nothing') {{lang.nothing}}
                    option(ng-repeat='i in donationValues', value='{{i}}') {{i | currency}}
        
            input(type='hidden', name='currency', id='id-currency',  value='aud', ng-model='dish.currency')
            button(type='button', ng-click='save()', class='btn btn-primary') {{lang.savechanges}}

    include ../footer
