extends ../layout

block configuration
    - var controllerName = "DishesEditController"

block base
    base(href='../')

block logic
    form(role='form')
        eat-photo(element='photo')
        eat-input-text(element='name')
        eat-input-text(element='description')
        eat-radio(element='when')
        eat-radio(element='nportions')
        eat-radio(element='donation')
