// This template requires dish object to be set in $scope
//

extends ../component-layout

block content
    div(ng-controller='DishesEditController', class='container')

        include ../top

        form(role='form')
            eat-input-text(element='name')
            eat-photo(element='photo')
            eat-input-text(element='description')
            eat-radio(element='when')
            eat-radio(element='nportions')
            eat-radio(element='donation')

    include ../footer
