// This template requires dish object to be set in $scope
//

extends ../layout

block content
    div(ng-controller='dishesEditController', class='container')

        include ../top

        form(role='form')
            div(class='form-group')
                label(for='id-name') {{lang.dishname}}
                input(type='text', name='name', ng-model='dish.name', id='id-name', class='form-control')
            div(class='form-group')
                label(for='id-description') {{lang.dishdescription}}
                textarea(name='description', id='id-description', ng-model='dish.description', class='form-control')
            div(class='form-group')
                label(for='id-where') {{lang.where}}
                input(type='text', name='where', id='id-where', ng-model='dish.where', class='form-control')
            div(class='form-group')
                label(for='id-from') {{lang.from}}
                input(type='text', name='from', id='id-from', ng-model='dish.from', class='form-control')
            div(class='form-group')
                label(for='id-to') {{lang.to}}
                input(type='text', name='to', id='id-to', ng-model='dish.to', class='form-control')
            div(class='form-group')
                label(for='id-nportions') {{lang.nportions}}
                select(name='nportions', id='id-nportions', ng-model='dish.nportions', class='form-control')
                    each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                        option(value=i)= i

            div(class='form-group')
                label(for='id-donation') {{lang.expecteddonation}}
                select(name='donation', id='id-donation', ng-model='dish.donation', class='form-control')
                    option(value='open') {{lang.open}}
                    option(value='nothing') {{lang.nothing}}
                    each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
                        option(value=i)= i
        
            //div(class='form-group')
                //label(for='id-currency')
                //select(name='currency', id='id-currency, ng-model='dish.currency', class='form-control')
                    //option(value='aud') {{lang.aud}}
            input(type='hidden', name='currency', id='id-currency',  value='aud', ng-model='dish.currency')
            button(type='button', ng-click='save()', class='btn btn-primary') {{lang.savechanges}}

    include ../footer
