// This template requires dishes array to be set in $scope
//

extends ../component-layout

block content
    div(ng-controller='DishesController', class='container')

        include ../top

        div(ng-show='showNoDishes')
            p {{lang.nodishes}}
        table(class='table')
            tr
                td {{lang.dishname}}
                td {{lang.dishdescription}}
                td {{lang.when}}
            tr(ng-repeat='dish in dishes', class='dish')
                td
                    a(href='dishes/view.html?id={{dish._id}}') {{dish.name}}
                td {{dish.description}}
                td {{dish.when}}
include ../footer
