// This template requires dishes array to be set in $scope
//

extends ../layout

block content
    div(ng-controller='dishesController', class='container')

        include ../top

        ul(id='id-dishes-list')
            li(ng-repeat='dish in dishes', class='dish')
                a(href='/dishes/view.html?id={{dish._id}}') {{dish.name}}
                p {{dish.description}}
include ../footer
