extends ../layout

block configuration
    - var controllerName = "DishesShareController"

block base
    base(href='../')

block logic
    div(class='info-text') {{infomessage}}

    div(id='id-contacts', class='list-group contacts-list')
        a(id='{{contact.mobilePhone}}', ng-repeat='contact in contacts | orderBy: "displayName"', class='list-group-item contact') {{contact.displayName}}
            span(class='glyphicon pull-right')
