extends ../component-layout

block content
    div(ng-controller='DishesShareController', class='container')

        include ../top

        div(class='centered-container')
            button(class='btn btn-success', ng-click='sendSms()')
                span(class='glyphicon glyphicon-envelope button-icon', aria-hidden='true')
                {{lang.message}}
            button(class='btn btn-default', ng-click='continue()')
                span(class='glyphicon glyphicon-arrow-right button-icon', aria-hidden='true')
                {{lang.continue}}

        div(class='centered-container info-text') {{lang.messagecontactsinfo}}

        div(id='id-contacts', class='list-group contacts-list')
            a(id='{{contact.mobilePhone}}', ng-repeat='contact in contacts | orderBy: "displayName"', class='list-group-item contact') {{contact.displayName}}

include ../footer
