extends ../layout

block configuration
    - var controllerName = "DishesViewController"

block base
    base(href='../')

block logic

    div(ng-if='auth.isAuthenticated()')
        div(class='dish-useful-info')
            h4 {{dishusefulinfotext}}
        md-card
            img(ng-if='dish.photo', src='{{dish.photo}}')
            md-card-content
                h2(class='md-title') {{dish.name}}
                div(class='dish-info')
                    div(class='dish-field', ng-if='dish.description')
                        b {{lang.dishdescription}}
                        {{dish.description}}
                    div(class='dish-field')
                        b {{lang.chef}}
                        {{dish.user.name}}
                    div(class='dish-field')
                        b {{lang.when}}
                        {{dish.when}}
                    div(class='dish-field')
                        b {{lang.expecteddonation}}
                        {{dish.donation}}
        md-card(ng-if='showBookedMeals')
            md-card-content
                h2(class='md-title') {{lang.bookedmeals}}
                md-item-content(ng-repeat='meal in meals')
                    div
                        span(class='glyphicon glyphicon-user', aria-hidden='true')
                    div(class='md-tile-content')
                        h3 {{meal.user.name}}
