// This template requires dish object to be set in $scope
//

extends ../component-layout

block content
    div(ng-controller='DishesViewController', class='container')

        include ../top

        div(ng-if='auth.isAuthenticated()', class='centered-container')
            button(ng-if='userCanBook()', type='button', name='meal', ng-click='addMeal()', class='btn btn-primary')
                span(class='glyphicon glyphicon-cutlery button-icon')
                {{lang.addmeal}}
            button(ng-if='auth.isUser(dish.userid)', type='button', name='edit', ng-click='editDish()', class='btn btn-primary')
                span(class='glyphicon glyphicon-edit button-icon')
                {{lang.editdish}}
        div(class='dish-useful-info') {{dishusefulinfotext}}

        div(id='id-dish-info')
            div(class='dish-field')
                b {{lang.dishdescription}}
                {{dish.description}}
            div(class='dish-field')
                b {{lang.chef}}
                img(ng-if='dish.user.pictureurl', class='user-picture', src='{{dish.user.pictureurl}}')
                {{dish.user.name}}
            div(ng-if='dish.photo', class='dish-field')
                img(class='dish-img', src='{{dish.photo}}')
            div(class='dish-field')
                b {{lang.location}}
                a(class='pointer', ng-click='openStaticMap()')
                    i(class='glyphicon glyphicon-map-marker')
                    {{dish.loc.name}}
            div(class='dish-field')
                b {{lang.when}}
                {{dish.when}}
            div(class='dish-field')
                b {{lang.expecteddonation}}
                {{dish.donation}}

include ../footer
