// This template requires dish object to be set in $scope
//

extends ../layout

block content
    div(ng-controller='DishesViewController', class='container')

        include ../top

        div(id='id-dish-info')
            p {{dish.name}}
            p {{dish.description}}
            p {{dish.where}}
            p {{lang.from}} {{dish.from}} {{lang.to}} {{dish.to}}
            p {{dish.donation}} {{dish.currency}}
        div(id='id-add-meal-form')
            form(role='form')
                div(class='form-group')
                    label(for='id-user') {{lang.username}}
                    input(type='text', name='user', ng-model='meal.user', id='id-user', class='form-control', placeholder='{{lang.username}}')
                button(type='button', name='meal', ng-click='addMeal()', class='btn btn-primary') {{lang.addmeal}}

include ../footer
