// This template requires dish object to be set in $scope
//

extends ../component-layout

block content
    div(ng-controller='DishesViewController', class='container')

        include ../top

        div(ng-if='auth.isAuthenticated()', class='centered-container')
            button(ng-if='!auth.isUser(dish.userid) && dish.remainingportions > 0', type='button', name='meal', ng-click='addMeal()', class='btn btn-primary') {{lang.addmeal}}
            button(ng-if='auth.isUser(dish.userid)', type='button', name='edit', ng-click='editDish()', class='btn btn-primary') {{lang.editdish}}
        eat-login-buttons(auth='auth', lang='loginButtonsLangStrings')
        div(class='remainingportionsinfo') {{remainingportionstext}}

        div(id='id-dish-info')
            div(class='dish-field')
                b {{lang.dishdescription}}
                {{dish.description}}
            div(class='dish-field')
                b {{lang.chef}}
                {{dish.username}}
            div(ng-if='dish.photo', class='dish-field')
                img(class='dish-img', src='{{dish.photo}}')
            div(class='dish-field')
                b {{lang.location}}
                a(class='pointer', ng-click='openStaticMap()')
                    i(class='glyphicon glyphicon-map-marker')
                    {{dish.loc.name}}
            div(class='dish-field')
                b {{lang.when}}
                {{dish.when}}
            div(class='dish-field')
                b {{lang.expecteddonation}}
                {{dish.donation}}

include ../footer
