// This template requires dish object to be set in $scope
//

extends ../component-layout

block content
    div(ng-controller='DishesViewController', class='container')

        include ../top

        div(id='id-dish-info')
            p {{dish.name}}
            p {{dish.description}}
            p
                a(class='pointer', ng-click='openStaticMap()')
                    i(class='glyphicon glyphicon-map-marker')
                    {{dish.where}}
            p {{lang.from}} {{dish.from}} {{lang.to}} {{dish.to}}
            p {{dish.donation | currency}}
        div(id='id-add-meal-form', ng-if='auth.isAuthenticated()')
            form(role='form')
                eat-input-text(element='user')
                button(type='button', name='meal', ng-click='addMeal()', class='btn btn-primary') {{lang.addmeal}}
        eat-login-buttons

include ../footer
