// @unmaintained
// Uses public/javascript/directives/datetime.js
p(class='input-group')
    span(class='input-group-btn')
        button(type='button', id='id-date-btn-{{element.name}}', class='btn btn-default', ng-click='toggleDatepicker($event)')
            i(class='glyphicon glyphicon-calendar')
    input(type='text', class='form-control', ng-model='element.value', placeholder='{{element.placeholder}}', ng-click='toggleTimepicker($event)')
    span(class='input-group-btn')
        button(type='button', id='id-time-btn-{{element.name}}', class='btn btn-default', ng-click='toggleTimepicker($event)')
            i(class='glyphicon glyphicon-time')
div(ng-show='showTimepicker')
    timepicker(id='id-time-{{element.name}}', ng-model='element.value', show-meridian='false')
div(ng-show='showDatepicker')
    button(type='button', class='btn btn-sm btn-info', ng-click='setToday()') {{lang.today}}
    button(type='button', class='btn btn-sm btn-info', ng-click='setTomorrow()') {{lang.tomorrow}}
    datepicker(id='id-date-{{element.name}}', ng-model='element.value', class='well well-sm')
