// Uses public/javascript/directives/datetime.js
p(class='input-group')
    span(class='input-group-btn')
        button(type='button', class='btn btn-default', ng-click='toggleDatepicker($event)')
            i(class='glyphicon glyphicon-calendar')
    input(type='text', class='form-control', ng-model='element.value', placeholder='{{element.placeholder}}', ng-click='toggleTimepicker($event)')
    span(class='input-group-btn')
        button(type='button', class='btn btn-default', ng-click='toggleTimepicker($event)')
            i(class='glyphicon glyphicon-time')
timepicker(ng-model='element.value', ng-show='showTimepicker', show-meridian='false')
datepicker(ng-model='element.value', ng-show='showDatepicker', class='well well-sm')
