// Uses public/javascript/directives/input-text.js
md-input-container(flex)
    label() {{element.label}}
    input(name='{{element.name}}', id='id-{{element.name}}', ng-model='element.value', ng-disabled='element.disabled')
