div(class='modal-header')
    h3(class='modal-title') {{lang.location}}
div(class='modal-body')
    form(role='form')
        eat-location(loc='loc', locationname='locationname', address='address')
        button(type='button', class='btn btn-primary', ng-click='subscribe()') {{lang.addlocation}}
