div(id='id-authenticate', ng-if='!auth.isAuthenticated()')
    button(type='button', ng-click='auth.openLoginPopup()', class='btn btn-primary') {{lang.logintoadd}}
    button(type='button', ng-click='auth.openAddUserPopup()', class='btn btn-success') {{lang.signup}}
