div(id='id-authenticate', ng-if='!auth.isAuthenticated()')
    button(type='button', ng-click='auth.openSignInPopup()', class='btn btn-default') {{lang.logintoadd}}
    button(type='button', ng-click='auth.openSignUpPopup()', class='btn btn-success') {{lang.signup}}
