div(class='form-group')
    label(for='id-photo') {{lang.photo}}
    div(id='id-photo')
        button(id='id-photobtn', class='btn btn-warning', ng-click='capturePhoto()') {{lang.capturephoto}}
        img(style='display:none;width:60px;height:60px;', id='id-smallimage', src='')
