div(class='form-group')
    label(for='id-{{element.name}}') {{element.label}}
    //- Adding extra div as btn-group is an inline-block.
    div(id='id-{{element.name}}')
        div(class='btn-group')
            label(ng-repeat='option in element.options', ng-model='element.value', btn-radio='option.value', class='btn {{option.btnstyle}}') {{option.text}}
