md-input-container(flex)
    md-select(id='id-{{element.name}}', ng-model='element.value')
        md-option(ng-repeat='option in element.options', value='{{option.value}}') {{option.text}}
    p(class='md-caption') {{element.label}}
