// Uses public/javascript/directives/auth-popup.js

div(class='modal-header')
    h3(class='modal-title') {{lang.signup}}
div(class='modal-body')
    form(role='form')
        eat-input-text(element='name')
        eat-input-text(element='email')
        eat-input-text(element='password')
        input(type='submit', class='btn btn-primary', ng-click='signup()', value='{{lang.createuser}}')
        button(type='button', class='btn btn-warning', ng-click='cancel()') {{lang.cancel}}
