div(class='modal-header')
    button(type='button', class='close', ng-click='close()')
        span(aria-hidden='true') &times;
        span(class='sr-only')
        {{lang.close}}
    h3(class='modal-title') {{dish.loc.name}} - {{dish.loc.address}}
div(class='modal-body text-center')
    img(ng-src='{{dish.map}}')
