md-dialog(aria-label='{{dish.loc.name}} - {{dish.loc.address}}')
    md-content
        md-subheader(class='md-sticky-no-effect') {{dish.loc.name}} - {{dish.loc.address}}
        img(ng-src='{{dish.map}}')
    div(class='md-actions', layout='row')
        md-button(ng-click='close()', class='md-primary') {{lang.close}}
