extends ../layout

block configuration
    - var controllerName = "GroupsViewController"

block base
    base(href='../')

block logic
    div(class='users-list')
        md-list-item(ng-show='showMembers', ng-repeat='member in members')
            div
                span(class='badge ranking') {{member.user.ranking}}
                div(ng-if='member.user.picture', class='user-thumb-container')
                    img(src='{{member.user.picture}}', class='thumb-photo', aria-hidden='true')
            div
                span(class='group-user') {{member.user.name}}
                span(class='stars')
                    //- We should change this and avoid using ng-repeat.
                    span(ng-repeat='star in member.user.stars', class='glyphicon glyphicon-star')
