extends ../layout

block configuration
    - var controllerName = "LocationsShareController"

block base
    base(href='../')

block logic
    div(class='info-text') {{infomessage}}
        b {{code}}

    div(id='id-contacts', class='list-group contacts-list')
        a(id='{{contact.mobilePhones}}', ng-repeat='contact in contacts | orderBy: "displayName"', class='list-group-item contact') {{contact.displayName}}
            span(class='glyphicon pull-right')
