extends ../layout

block configuration
    - var controllerName = "LocationsViewController"

block base
    base(href='../')

block logic
    div(class='users-list')
        md-list(ng-show='showMembers')
            md-item(ng-repeat='member in members', role='listitem')
                md-card
                    md-card-content
                        md-item-content
                            div
                                span(class='badge ranking') {{member.user.ranking}}
                                &nbsp;&nbsp;
                                span(class='glyphicon glyphicon-{{member.user.icon}} ranking', aria-hidden='true')
                            div(class='md-tile-content')
                                h3 {{member.user.name}}
                                h4
                                    //- We should change this and avoid using ng-repeat.
                                    span(ng-repeat='star in member.user.stars', class='glyphicon glyphicon-star')
